/* * {
  border: 1pt solid orange;
} */

body {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

#gameArea {
  display: flex;
  justify-content: space-evenly;
}
#screen {
  background: rgba(251, 251, 251, 0.58);
  padding: 40px;
  margin: 0 auto;
  border-radius: 2%;
}

#board {
  /* flex-grow: 1.5; */
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  column-gap: 3px;
  row-gap: 3px;
  position: relative;
}

.strike-out{
  position: absolute;
  background-color: rgb(15, 145, 39);
  z-index: 1;
  visibility: hidden;
}



#strike-out0 {
top: 75px;
left: 25px;
grid-area: 1 / 1;
height: 5px;
width: 400px;
}

#strike-out1 {
top: 75px;
left: 25px;
grid-area: 2 / 1;
height: 5px;
width: 400px;
}

#strike-out2 {
top: 75px;
left: 25px;
grid-area: 3 / 1;
height: 5px;
width: 400px;
}

#strike-out3 {
height: 400px;
top: 25px;
left: 75px;
grid-area: 1 / 1;
height: 400px;
width: 5px;
}

#strike-out4 {
height: 400px;
top: 25px;
left: 75px;
grid-area: 1 / 2;
width: 5px;
}

#strike-out5 {
height: 400px;
top: 25px;
left: 75px;
grid-area: 1 / 3;
width: 5px;
}

#strike-out7 {
height: 400px;
top: 25px;
left: 75px;
grid-area: 1 / 2;
width: 5px;
transform: rotate(45deg);
}

#strike-out6 {
height: 400px;
top: 25px;
left: 75px;
grid-area: 1 / 2;
width: 5px;
transform: rotate(135deg);
}

.playSquare {
 background-color: white;
 margin: 5px solid white;
 border-radius: 2%;
 position: relative;
 top: 0;
 width: 160px;
 height: 160px;
 display: flex;
 justify-content: center;
 /* padding: 3px; */
}

.player1TokenBoard {
  display: flex;
  position: absolute;
  width: 70%;
  margin: auto;
  visibility: hidden;
  align-self: center;
}

.player2TokenBoard {
  display: flex;
  position: absolute;
  margin: auto;
  visibility: hidden;
  width: 70%;
  align-self: center;
}

h3, h2 {
  padding: 0;
}

#player2Token, #player1Token {
  height: 80px;
}

#msgDisplay {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 900;
  color: rgb(15, 145, 39);
}


.turnNote {
  color: rgb(15, 145, 39);
  font-size: 24px;
}

#background {
  display: inline-block;
  top: 0px;
  left: 0px;
  margin: auto 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

#playAgain, #reset {
  background: rgb(187, 219, 178);
  font-size: 20px;
  visibility: hidden;
  border-radius: 8px;
  border: none;
  margin: 3px solid white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.4);
  font-family: 'Indie Flower', cursive;
  padding: 10px 20px;
  transition-delay: 0.1s;
  display: relative;
}

#start {
  background: rgb(187, 219, 178);
  font-size: 20px;
  border-radius: 8px;
  border: none;
  margin: 3px solid white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.4);
  font-family: 'Indie Flower', cursive;
  padding: 10px 20px;
  transition-delay: 0.1s;
  position: relative;
  top: 20px;

}

.playingScreen {
  visibility: hidden;
}

.entryPage {
  position: absolute;
  z-index: 2;
  background: rgba(251, 251, 251, 0.7);
  padding-bottom: 80px;
  padding-top: 30px;
  margin: 0 auto;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  border-radius: 3%;
  visibility: visible;
}

/* #explain {
  position: relative;
  top: -60px;
} */


#playAgain:hover {
  background-color:white;
}

#startPlay:hover {
  background-color:white;
}

#reset:hover {
  background-color:white;
}

.scoring {
  background-color: rgb(15, 145, 39);
  color: white;
  font-size: 50px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: auto;
  line-height: 100px;
  /* padding: 10px; */
  /* height:  */

}


#dino-gif {
  position: absolute;
  max-width: 200px;
  bottom: 0;
  right: 0;
}

 #insect-gif {
   transform: rotateY(180deg);
   transform: rotate(130deg);
   left: 0;
   position: absolute;
   max-width: 200px;
   bottom: 5%;
 }
